* {
  /*remise à zéro de toutes les marges PRIORITÉ : MAX (reset universel, s'applique à TOUT)
     Appliqué EN PREMIER avant toutes les autres règles*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*couleurs*/
  --couleur-principale: #65cca9;
  --couleur-fond: #363f48;
  --couleur-fond-clair: #2a3139;
  --couleur-texte: #e4e4e4;
  --couleur-ligne: hwb(180 47% 53%);

  /*polices*/
  --police-titre-grand: "Tangerine", cursive;
  --police-titre-petit: "Tangerine", cursive;
  --police-menu: "Amatic SC", cursive;
  --police-texte: "Open Sans", sans-serif;

  /*taille texte*/
  --taille-h1: 85px;
  --taille-h2: 55px;
  --taille-h3: 30px;
  --taille-texte-grand: 16px;
  --taille-texte-petit: 14px;
}

html {
  background-color: var(
    --couleur-fond
  ); /*PRIORITÉ : Faible (sélecteur de balise)
     Définit le fond de la page entière*/
}

header,
main,
footer {
  /* PRIORITÉ : Faible (sélecteurs de balises)
     S'applique à TOUTES les balises header, main, footer
     Peut être ÉCRASÉ par des classes ou IDs plus spécifiques */
  color: var(--couleur-texte);
  /*padding: 2px; /*espacement sur la page en padding pour ne pas altéré le background*/
  font-family: var(--police-texte);
  padding: 0px 35px;
}

h1 {
  /* PRIORITÉ : Faible (sélecteur de balise)
     S'applique à TOUS les <h1> du site */
  color: var(
    --couleur-principale
  ); /*couleur du titre à revoir, car elle est partout, avec une variable CSS pour pouvoir la noter à un seul endroit et l'appliquer partout*/
  font-size: var(--taille-h1);
  text-align: center;
  font-family: var(--police-titre-grand);
}

h2 {
  /* PRIORITÉ : Faible (sélecteur de balise) */
  text-align: center;
  color: var(--couleur-principale);
  font-family: var(--police-titre-grand);
  font-size: var(--taille-h2);
}

h3 {
  color: var(--couleur-principale);
  font-family: var(--police-titre-petit);
  font-size: var(--taille-h3);
  font-weight: bold;
}

p {
  /* PRIORITÉ : Faible (sélecteur de balise)
  MAIS peut être écrasé par .photo-accueil p (plus spécifique)*/
  font-size: var(--taille-texte-grand);
  color: var(--couleur-texte);
  font-family: var(--police-texte);
  text-align: justify;
}

/*============================================
   CSS DU MENU HEADER
   ============================================ */

#menu {
  /* PRIORITÉ : FORTE (ID) /Spécificité : 100 points /S'applique UNIQUEMENT à l'élément avec id="menu" */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  color: var(--couleur-principale);
  font-size: 38px;
  text-align: center;
  font-family: var(--police-menu);
}

#menu::before,
#menu::after {
  /* PRIORITÉ : FORTE (ID + pseudo-élément)
     Spécificité : 100 + 1 = 101 points
     Crée les LIGNES à gauche et à droite du menu */
  content: "";
  flex-grow: 1;
  height: 0.8px;
  background-color: var(--couleur-ligne);
}

#menu li {
  /* PRIORITÉ : FORTE (ID + balise)*Spécificité : 100 + 1 = 101 points
     Cible les <li> UNIQUEMENT à l'intérieur de #menu*/
  color: var(--couleur-principale);
  display: inline;
  list-style: none;
}

#menu a {
  /* PRIORITÉ : FORTE (ID + balise) Spécificité : 100 + 1 = 101 points
     Cible les LIENS à l'intérieur de #menu */
  display: inline-block;
  margin: 40px 30px;
  padding: 10px;
}

#menu a:link {
  /* PRIORITÉ : FORTE (ID + balise + pseudo-classe)
     Spécificité : 100 + 1 + 10 = 111 points */
  text-decoration: none; /*couleur du lien sans le soulignement*/
  color: var(--couleur-principale);
}

#menu a:visited {
  /* Même priorité que :link */
  color: var(
    --couleur-principale
  ); /*couleur du lien quand le site est déjà visité*/
}

#menu a:focus {
  /*/* PRIORITÉ : FORTE
     S'applique UNIQUEMENT quand le lien reçoit le focus (clic) */
  border-bottom: 1px solid;
  padding: 5px; /* ← ÉCRASE le padding de #menu a (10px) */
  background: var(--couleur-principale);
  border-radius: 5px;
  color: var(--couleur-fond);
}

#menu a:hover {
  /* PRIORITÉ : FORTE S'applique au SURVOL */
  border-bottom: 1px solid;
  background: var(--couleur-principale);
  border-radius: 5px;
  color: var(--couleur-fond);
  cursor: url("../images/trefle.png"), pointer;
}

/*============================================
   CSS DE L'ACCUEIL 
   ============================================ */

.accueil {
  /* PRIORITÉ : MOYENNE (classe) /Spécificité : 10 points /S'applique à l'élément avec class="accueil" /Définit l'image de fond et le positionnement */
  background-image: url(../images/jardin.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
  display: flex;
  width: auto;
  align-items: center;
  justify-content: center;
  margin: 0 -35px 60px;
  position: relative; /* ← IMPORTANT pour que ::before se positionne DEDANS */
  font-family: var(
    --police-titre-petit
  ); /* ATTENTION : Cette font-family s'applique à TOUT le contenu de .accueil y compris le bouton */
}

.accueil::before {
  /* PRIORITÉ : MOYENNE (classe + pseudo-élément)
     Spécificité : 10 + 1 = 11 points
     Cette couche existe mais est INVISIBLE */
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1; /* ← Sous le texte (z-index: 2) */
}

.photo-accueil {
  /* PRIORITÉ : MOYENNE (classe)
     Spécificité : 10 points
     Style du conteneur de texte au-dessus de l'image */
  position: relative;
  z-index: 2; /* ← Au-dessus du ::before */
  color: var(--couleur-texte);
  padding: 1rem;
  /*max-width: 900px;*/
  text-align: center;
}
.photo-accueil p {
  font-size: 70px;
  color: var(--couleur-principale);
  text-shadow: 1px 1px 2px darkslategrey;
  margin-bottom: 10%;
}

.btn {
  /* PRIORITÉ : MOYENNE (classe) PROBLÈME : La font-family de .accueil (Tangerine) 
     s'applique PAR HÉRITAGE au bouton !
     SOLUTION : Ajouter font-family ici pour écraser */
  display: inline-block;
  margin-top: 1rem;
  padding: 0.75rem 1.25rem;
  border-radius: 5px;
  text-decoration: none;
  font-family: var(--police-texte);
  font-size: var(--taille-texte-petit);
  background-color: var(--couleur-principale);
  color: var(--couleur-texte);
  text-shadow: 1px 1px 1px darkslategrey;
}
.btn:hover {
  color: var(--couleur-fond);
  cursor: url("../images/trefle.png"), pointer;
}

.accueil-suite {
  /* PRIORITÉ : MOYENNE (classe) */
  padding: 50px;
}

.accueil-suite p {
  margin-top: 40px;
}

.avis-clients {
  text-align: center !important;
  padding: 40px 20px !important;
  background-color: var(--couleur-fond-clair) !important;
}

.avis-clients h2 {
  margin-bottom: 30px;
}

.container-avis {
  max-width: 900px;
  margin: 0 auto;
}

.texte-attente {
  color: var(--couleur-texte);
  font-style: italic;
  padding: 20px;
}

/* ============================================
   CSS DE PRESTATION
   ============================================ */
.services {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px 20px 40px 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  align-items: center;
  border-bottom: 1px solid var(--couleur-ligne);
}

.carte-service img {
  width: 100%;
  max-width: 210px;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
}

.carte-service h3 {
  font-family: var(--police-titre-petit);
  color: var(--couleur-principale);
  font-size: var(--taille-h3);
}
.carte-service {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.carte-service p {
  flex-grow: 1;
}

.description p {
  margin: 40px;
  padding: 25px;
}

.description > div {
  border-bottom: 1px solid var(--couleur-ligne);
  padding-bottom: 40px;
  margin-bottom: 40px;
}
.description > div:last-child {
  border-bottom: none;
}

.video {
  display: block;
  margin: auto;
}

.video-container video {
  width: 350px;
  height: auto;
  object-fit: cover;
}

/*=============================================
CSS mentions legales
=============================================*/

.mentions {
  margin-bottom: 60px;
  margin-top: 40px;
}

.intro-mentions {
  margin-bottom: 60px;
}

.mentions-section {
  margin-bottom: 40px;
  padding: 20px 0;
  border-bottom: 1px solid var(--couleur-ligne);
}

.mentions-section:last-child {
  border-bottom: none;
}

.mentions-section h3 {
  font-size: 45px;
  text-align: center;
  margin-bottom: 20px; /*espace sous le titre*/
  margin-top: 10px;
}

.mentions-section p {
  line-height: 1.8;
  margin-bottom: 15px; /*espace entre les paragraphe*/
}
/* ============================================
   CSS DU FOOTER
   ============================================ */

footer {
  /* PRIORITÉ : FORTE (balise définie 2 fois !)
     1ère définition : ligne 12 (avec header, main)
     2ème définition : ICI
     Les styles ICI s'AJOUTENT à ceux de la ligne 12 /En cas de conflit, c'est la DERNIÈRE règle qui gagne */
  color: var(
    --couleur-principale
  ); /* ← ÉCRASE la couleur #e4e4e4 de la ligne 12 */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 20px est toujours actif (vient de la ligne 12) */
}

.mentions a:link {
  /* PRIORITÉ : MOYENNE (classe + balise + pseudo-classe)
     Spécificité : 10 + 1 + 10 = 21 points */
  color: var(--couleur-principale);
  text-decoration: underline;
}

.mentions a:visited {
  color: var(--couleur-principale);
}

.mentions a:focus {
  color: var(--couleur-principale);
}

.mentions a:hover {
  cursor: url("../images/trefle.png"), pointer;
}

.reseaux {
  /* PRIORITÉ : MOYENNE (classe) */
  display: flex;
  justify-content: center;
  gap: 10px; /* Remplace le margin-right sur les liens */
}

.reseaux a:link {
  /* PRIORITÉ : MOYENNE (classe + balise + pseudo-classe)
     Spécificité : 21 points */
  text-decoration: none;
}

.image_reseaux {
  /* PRIORITÉ : MOYENNE (classe) */
  width: 45px;
  height: 45px;
}
